[submodule "web-workshop-haw-2024"]
	path = web-workshop-haw-2024
	url = https://github.com/s0h311/web-workshop-haw-2024
[submodule "workshop-news-2024"]
	path = workshop-news-2024
	url = https://github.com/s0h311/workshop-news-2024
[submodule "workshop-reusable-components-api-and-layout-design"]
	path = workshop-reusable-components-api-and-layout-design
	url = https://github.com/s0h311/workshop-reusable-components-api-and-layout-design
[submodule "workshop-mcp-server"]
	path = workshop-mcp-server
	url = https://github.com/s0h311/workshop-mcp-server.git
[submodule "workshop-mcp-server-over-streamable-http"]
	path = workshop-mcp-server-over-streamable-http
	url = https://github.com/s0h311/workshop-mcp-server-over-streamable-http
[submodule "workshop-server-setup-and-auto-deployment"]
	path = workshop-server-setup-and-auto-deployment
	url = https://github.com/s0h311/workshop-server-setup-and-auto-deployment
